<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</head>
<body>
		<nav nav class="navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>


			</ul>
			<form class="form-inline my-2 my-lg-0">
				<a href="signup" class="btn  btn-light"><i
					class="fa-solid fa-user-plus"></i> SignUp</a>
			</form>
		</div>
	</nav>

		<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h5 class="text-center text-primary">All Jobs</h5>

				<div th:each="job : ${jobs}">
				
					<div class="card mt-2">
						<div class="card-body">
							<div class="text-center text-primary">
								<!-- value="jobId : th:text='${job.jobid}'" -->
								<i class="far fa-clipboard fa-2x"></i>
							</div>
							<input type="text" class="form-control form-control-sm"
								th:value="${job.jobid}" readonly>
							<h6 th:text="${job.title}"></h6>
							<p th:text="${job.description}"></p>

							<br>
							<div class="form-row">
								<div class="form-group col-md-3">
									<input type="text" class="form-control form-control-sm"
										 th:value="${job.location}" readonly>
								</div>
								<div class="form-group col-md-3">
									<input type="text" class="form-control form-control-sm"
										th:value="${job.category}" readonly>
								</div>
								<div class="form-group col-md-3">
									<input type="text" class="form-control form-control-sm"
										th:value="${job.status}" readonly>
								</div>
							</div>
							<h6>Publish Date:</h6>
							
							<div class=" text-center">
							<a th:href="@{/user/filterLocCat/applyFromFilter}" class="btn btn-sm bg-success text-white"> Apply Now </a> 
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
</body>
</html>
